### 1.Create a dictionary

In [3]:
dic={
    "name":"anjali",
    "age":21,
    "course":"BCA"
}
print(dic)

{'name': 'anjali', 'age': 21, 'course': 'BCA'}

### 2. Traverse dictinary

In [5]:
student={
    "name":"anjali",
    "age":21,
    "course":"BCA"
}
for key,value in student.items():
    print(key,":",value)

name : anjali
age : 21
course : BCA

### 3. Find key with maximum value

In [7]:
marks={
    "Math":80,
    "English":75,
    "Science":90
}
max_key=max(marks,key=marks.get)
print(max_key)

Science

### 4. Sort dictionary by value

In [9]:
marks={
    "Math":80,
    "English":75,
    "Science":90
}
sorted_dict=dict(sorted(marks.items(),key=lambda x:x[1]))
print(sorted_dict)

{'English': 75, 'Math': 80, 'Science': 90}

### 5. Merge two dictionaries

In [11]:
d1={"a":1,"b":2}
d2={"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 6. Student marks dictionary system

In [14]:
marks={
    "Math":80,
    "English":75,
    "Science":90
}
total=sum(marks.values())
per=total/len(marks)
print("total marks:",total)
print("percentage: ",per)

total marks: 245
percentage:  81.66666666666667

### 7. remove a key

In [16]:
marks={
    "Math":80,
    "English":75,
    "Science":90
}
print(marks.pop("Math"))
print(marks)

80
{'English': 75, 'Science': 90}

### 8. Convert two lists into dictionary

In [ ]:
keys=["name","age"]
values=["anju",20]

result