### 1. tuple create and print

In [1]:
t=(10,20,30,40)
print(t)

(10, 20, 30, 40)

### 2. tuple length

In [2]:
t=(10,20,30,40)
print(len(t))

4

### 3. tuple slicing

In [5]:
t=(10,20,30,40)
print(t[0:5])
print(t[0:])
print(t[:3])

(10, 20, 30, 40)
(10, 20, 30, 40)
(10, 20, 30)

### 4. Find maximum and minimum

In [6]:
t=(10,20,30,40)
print("max : ",max(t))
print("min : ",min(t))

max :  40
min :  10

### 5. Count element frequency

In [8]:
t=(10,20,20,30,40)
print(t.count(20))

2

### 6. Find index of element

In [9]:
t=(10,20,20,30,40)
print(t.index(20))

1

### 7. tuple unpacking

In [10]:
t=(10,20,20)
a,b,c=t
print(a,b,c)

10 20 20

### 8. convert list to tuple

In [11]:
l=[1,2,4]
t=tuple(l)
print(t)

(1, 2, 4)

### 9. Sum of tuple

In [12]:
t=(10,20,20)
print(sum(t))

50

### 10. Reverse of tuple

In [13]:
t=(10,20,20)
print(t[::-1])

(20, 20, 10)